@charset "utf-8";
/* CSS Document */

article, aside, footer, header, main, nav, section{
	display: block;
}

*{
	padding: 0;
	margin: 0;	
}

header.banner{
	background-color: #11233b;
	color: #ffffff;
	padding: 10px 20px;
}

body{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f0f0f0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

nav{
	background-color: #20416c;
	text-align: center;
	padding: 5px;
	margin-top: 1px;
	height:20px;	
}

.menuNormal{
	padding: 0px;
	vertical-align: top;
	background-color: #20416c;
	color: #ffffff;
}

.menuNormal:hover a{
	text-decoration: none;
	color: #000000;	
}

div.menuNormal{
	display: none;  
}

.menuNormal:hover div{
	display: inline;
	position: absolute;	
}

div.menuNormal:hover{
	border-top: #f0f0f0;
	background-color: #20416c;
	display: block;
	position: absolute;
}

a{
	color: #FFF;
}

.menu tr td{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.menu tr td:hover a{
	color: #FFF;
	text-decoration: underline;
}
	

h4{
	font-size:12px;
}

section{
	background-color: #bbbbbb;
	margin-top: 10px;
	padding: 5px;
}

article{
	background-color: #FFF;
	margin-top: 5px;
	padding: 10px 15px;
}

main{
	width: 640px;
	float: left;
	margin-bottom: 10px;
}

aside{
	background-color: #bbbbbb;
	width: 270px;
	float: right;
	padding: 20px;
	margin-top: 10px;
}

footer{
	clear:both;
	background-color: #20416c;
	color: white;
	padding: 5px 20px;	
	margin-left: auto;
	margin-right: auto;
}